.title__hosts{
  text-transform: uppercase;
  color: #707070;
  text-decoration: none;
}
.items__hosts{
  padding-top: 20px;
  padding-bottom: 20px
}
.togglebutton label{
  text-transform: uppercase;
}
