.title__hosts {
  text-transform: uppercase;
  color: #777 !important;
  text-decoration: none;
}
.items__hosts{
  padding-top: 15px;
  padding-bottom: 15px
}
.togglebutton label{
  text-transform: uppercase;
}
.reset__hosts{
  /*text-align: right;*/
  margin: 20px 0 0 0 !important
}
#wrapper{
  margin: 0 !important;
  padding: 20px 20px 30px 20px !important;
}
.update-modal{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /*background: red;*/
  width: 100px;
  height: 112px;
  text-align: center;
}
.modal-body{
  text-align: center;
}
.fa-spinner{
  text-align: center;
}
#percent-update{
  margin: 55px 0 0 0;
  padding: 0;
  text-align: center;
  display: block;
}
#simple-dialog{
  z-index: 99999;
}
.modal-backdrop{
  z-index: 1;
}
#modals{
  z-index: 99999;
  display: none
}

.modal-backdrop.in{
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-backdrop.fade{
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop {
    background: rgba(0, 0, 0, 0.3);
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal-backdrop{
  display: none;
}
